@model ANDyNA_v2.Models.Canchas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Canchas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
